doctype html
html(lang="en")
  head
    title= __("validate-email.title")
    meta(charset="utf-8")
  body
    p #{__("validate-email.welcome")}
    h1 #{__("validate-email.thanks")}
    p.
      #{__("dear")} #{firstName} #{lastName}
    p.
        Your email validation code is #{emailKey} valid up to #{emailKeyValidTo} please enter code <a href="#{emailValidationUrl}">Here</a> to complete airdrop registration.

