doctype html
html(lang="en")
  head
    title= Stutz
  body
    h1 Thanks for registering for Stutz Airdrop
    p.
      Dear #{firstName} #{lastName}
    p.
        Your email validation code is #{emailKey} valid up to #{emailKeyValidTo} please enter code Here #{emailValidationUrl} to complete airdrop registration.
